*.pyc
*.py~
**/analysis/*.pyc
**/analysis/*.py~
**/analysis/modules/*.pyc
**/analysis/modules/*.py~
**/console/*.pyc
**/console/*.py~
**/import/*.pyc
**/import/*.py~
**/util/*.pyc
**/util/*.py~
**/widgets/*.pyc
**/widgets/*.py~


